<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <h1>Learn Practically Anything You Want</h1>
    <h2>from the World's best instructors</h2>
    <%= link_to 'Learn more...', '#', class: 'btn btn-primary' %>
  </div>
</div>

<br >
<div class="row text-center">
  <div class="col-12 col-sm">
    <h3>Code</h3>
      <%= image_tag 'code.png' %>
      <h4 class="text-center">
        Learn the latest technologies used by the best Startups to build and launch products fast (Github, Heroku, AWS, Ruby on Rails, HTML5, CSS3, etc...)
      </h4>
  </div>

  <div class="col-12 col-sm">
    <h3>Video</h3>
      <%= image_tag 'video.png' %>
      <h4 class="text-center">
        Step by step video instructions on how to build a fully functional web application.
      </h4>
  </div>

  <div class="col-12 col-sm">
    <h3>Online Learning</h3>
      <%= image_tag 'monitor.png' %>
      <h4 class="text-center">
        Do it at your own pace. Intensive or moderate pace, it's all up to you!
      </h4>
  </div>
</div>